*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.flex{
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
}

.grid{
    background-color: #4A4A4A;
    padding: 4px 6px;
    border-radius: 6px ;
    border: none;
    
}

.grid a{
    color: white;
    text-decoration: none;
    
}

.fa-grip{
    margin-right: 5px;
}

.full-screen{
    background-color: #4A4A4A;
    margin:0 5px;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

.full-screen a{
    color: white;
}

/* Inizio main */

main{
    position: relative;
    
}
.container{
    height: 100vh;
    background-color: #000000;
    padding-top: 80px;
    padding-bottom: 860px;
    position: absolute;

}

.centratura{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    
}

.box{
    width: calc(100%/7 - 5px);
    position: relative;
}

.box img{
    max-width: 100%;
}

.nome{
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    padding: 2px;
    bottom: 4px;
    left: 0;
}

/* footer */

footer{
    position: fixed;
    z-index: 900;
    width: 100%;
    left: 0;
    bottom: 0;
}

.end-nav{
    background-color:#222222;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 200px;
}

.left{
    padding: 20px;
}

.menu a{
    color: white;
    padding-bottom: 4px;
}

.menu .fa-solid{
    font-size: 20px;
}

.menu .fa-angle-up{
    font-size: 10px;
}

li{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 14px;
}

.center{
    width: 600px;
    padding: 20px 0;
}

.center .fa-share-from-square{
    color: #5FC805;
}

.right{
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    padding: 14px;
}

.right a{
    color: #de3030;
    text-decoration: none;
    font-weight: bold;
}